In [1]:
def add(a,b):
    return a+b

In [2]:
add(5,6)

11

In [3]:
add= lambda a,b : a+b

In [4]:
add(5,10)

15

In [5]:
def even_num(num):
    if num%2==0:
        return True
    else:
        return False

In [6]:
even_num(21)

False

In [7]:
even = lambda num:num%2==0

In [8]:
even(2)

True

In [9]:
even(5)

False

# Map function

In [10]:
# Only one number can be passed at a time. if want to pass more than one number , then have to use forloop or we can use 
#MAP function
def even_odd(num):
    if num%2 == 0:
        print (" the number {} is even".format(num))
    else:
        print (" the number {} is odd".format(num))

In [11]:
even_odd(25)

 the number 25 is odd

In [34]:
def even_odd_number(num):
    if num%2 == 0:
        print (" the number {} is even".format(num))
    else:
        print (" the number {} is odd".format(num))

In [35]:
lst = [1,3,4,5,6,7,8,9]

In [36]:
list(map(even_odd_number,lst))

 the number 1 is odd
 the number 3 is odd
 the number 4 is even
 the number 5 is odd
 the number 6 is even
 the number 7 is odd
 the number 8 is even
 the number 9 is odd

[None, None, None, None, None, None, None, None]

In [15]:
def addition(n):
    return n + n

In [21]:
numbers = (1, 2, 3, 4)
result = map(addition, numbers)

In [22]:
print(list(result))

[2, 4, 6, 8]

In [46]:
#lambda and map function

In [26]:
square  = lambda a:a*a
num = (4,5,6,7,8,9)
sqrvalue = map(square,num)

In [27]:
list(sqrvalue)

[16, 25, 36, 49, 64, 81]

In [28]:
list(map(lambda b:b+b, num))

[8, 10, 12, 14, 16, 18]

# Filter function

In [29]:
def even_num(num):
    if num%2==0:
        return True
    else:
        return False

In [30]:
lst =[1,2,3,4,5,6,7,8,9,10]
list(filter(even_num,lst))

[2, 4, 6, 8, 10]

In [43]:
def addition(n):
    if n>3:
        return True

In [44]:
num = (1,2,3,4,5)
result = filter(addition,num)

In [45]:
list(result)

[4, 5]

In [47]:
#lambda and map and filter  function

In [65]:
num = [1,2,3,4,5,6,7,8,9,10,15,20,75,46,52,49,82]
num2 = (4,5,6,7,8)
val = filter(lambda x: x%2==0, num)

In [66]:
list(val)

[2, 4, 6, 8, 10, 20, 46, 52, 82]

In [73]:
list(map(lambda x: x%2==0, num))

[False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 True]

# List Comprehension

In [80]:
lst= [1,5,4,11,7,8,9]
lst1 =[]
def lst_sqr(lst):
    for i in lst:
        lst1.append(i*i)
    return lst1

In [81]:
lst_sqr(lst)

[1, 25, 16, 121, 49, 64, 81]

In [82]:
lst1

[1, 25, 16, 121, 49, 64, 81]

In [83]:
#In List comprehension, first action  then loop within square bracket

[i*i for i in lst1 ]

[1, 625, 256, 14641, 2401, 4096, 6561]

In [84]:
lst1

[1, 25, 16, 121, 49, 64, 81]

In [87]:
lst_val = [i*i for i in lst1 if i %2 == 0 ]

In [88]:
lst_val

[256, 4096]